/* .main{

	text-align: center;
	flex-grow: 1;
	height: calc(100svh - 35rem - 25rem);
	background-image: url("https://images2.imgbox.com/1b/42/QU5IKszL_o.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: center;
} */

/* .main h1{
font-size: 80px;
} */

/* .main p{
	font-size: 28px;
} */
/* .thumb{
	width: 100%;
	height: 100%
} */
/* .thumb img{
	height: 110%;
	object-fit: cover;
  object-position: 50% 50%;
} */