@import url(./css/_reset.css);
@import url(./css/_fontSet.css);
@import url(./css/_variables.css);
@import url(./css/_colorSt.css);


.container{
	width: 32.0rem;
	margin: 0 auto;
	text-align: center;
	height: 100%;

	@media (min-width: 640px) {
    width: 640px;
  }
	
  @media (min-width: 1080px) {
    width: 1080px;
  }

	@media (min-width: 1200px) {
		width: 1200px;

  } 

}